/* Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: aqua;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-content: space-between;
  line-height: 50px;
}

.header-left {
  background-color: orange;
  border: 1px dashed red;
  min-width: 70px;
  flex-grow: 1;
  margin-left: 10px;
}
.header-center {
  background-color: orange;
  border: 1px dashed red;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 40%;
  display: inline-block;
}
.header-right {
  background-color: orange;
  border: 1px dashed red;
  min-width: 70px;
  flex-grow: 1;
  text-align: end;
}

.first-section {
  background-color: blue;
  padding: 50px;
}
.pink {
  background-color: pink;
  min-height: 300px;
  margin-left: 200px;
  margin-right: 200px;
}
