/* Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: aqua;
  display: flex;
  padding: 30px;

  line-height: 50px;
}

.header-left {
  background-color: orange;
  border: 1px solid black;
  min-width: 70px;
  flex-grow: 1;
  margin-left: 10px;
}
.header-center {
  background-color: orange;
  border: 1px solid black;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.header-right {
  background-color: orange;
  border: 1px solid black;
  min-width: 70px;
  flex-grow: 1;
  text-align: end;
}

.first-section {
  background-color: blue;
  padding: 50px;
}
.pink {
  background-color: pink;
  min-height: 300px;
  margin-left: 200px;
  margin-right: 200px;
}

.second-section {
  background-color: white;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.box-blue {
  background-color: blue;
  min-height: 500px;
  min-width: 700px;
  margin-left: 200px;
}
.box-pink {
  background-color: pink;
  min-width: 300px;
  min-height: 500px;
  margin-right: 200px;
}
.third-class {
  background-color: lightgrey;
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.box-blue-rev {
  background-color: blue;
  min-height: 500px;
  min-width: 700px;
}

.box-pink-rev {
  background-color: pink;
  min-width: 300px;
  min-height: 500px;
}

.fourth-section {
  background-color: white;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.five-section {
  background-color: lightgray;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.box-green {
  background-color: green;
  min-width: 1000px;
  min-height: 500px;
  padding: 40px;
}
.column {
  background-color: black;
  padding: 50px;
  display: flex;
  justify-content: center;
}
.cl-1 {
  background-color: salmon;
  min-width: 300px;
  min-height: 500px;
  border: 2px dashed white;
}
.cl-2 {
  background-color: green;
  min-width: 180px;
  min-height: 500px;
  border: 2px dashed white;
}
.cl-3 {
  background-color: rgb(79, 237, 79);
  min-width: 180px;
  min-height: 500px;
  border: 2px dashed white;
}
.cl-4 {
  background-color: rgb(79, 237, 79);
  min-width: 180px;
  min-height: 500px;
  border: 2px dashed white;
}
.cl-5 {
  background-color: green;
  min-width: 180px;
  min-height: 500px;
  border: 2px dashed white;
}

footer {
  background-color: black;
  border-top: 1px solid white;
  padding: 30px;
  line-height: 50px;
  display: flex;
}

.footer-right {
  background-color: aqua;

  min-width: 70px;
  flex-grow: 1;
  margin-left: 10px;
}
.footer-left {
  background-color: aqua;
  min-width: 70px;
  flex-grow: 1;
  text-align: end;
}

#logo {
  background-color: salmon;
  border: 1px dashed black;
  height: 40px;
  width: 50px;
  padding: 5px;
}
#bottone {
  background-color: salmon;
  border: 1px dashed red;
  min-width: 70px;
}
